#navigation {
  align-self: center;
  margin: 0 0.8em 0 0;
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
  background-color: #A9C5EE;
  border: .5em solid #A9C5EE;
}

#nav-container {
  flex-direction: row;
  justify-content: space-between;
  justify-content: flex-end;
}

ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
 }

li {
  padding: 0 1.4em 0 0;
  font-size: 0.9em;
 }


/* nav {
  display: flex;
  flex-direction: row;
  background-color: #A9C5EE;
  border: .5em solid #A9C5EE;
  width: 100%; 
  position: fixed;
  float: right;
}

nav {
  width:100%;
  
  display:inline-block;
  width:auto
}



nav > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  text-decoration: none;
  position: absolute;
}


.tab {
  padding-right: .5em;
  line-height: 2;
  text-align: right;
  text-decoration: none;
  font-size: 1.5em;
  text-align: left;

}




.tab > a {
  text-decoration: none;
  color: black;
} */

li a:hover {
  /* background-color: rgba(31, 53, 108, 0.906); */
  text-decoration: underline;
}

/* TODO : roll over underline */