/* html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
} */

body {
  height: 12000px;
}
#section-title {
  font-size: 2em;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
  /* margin-bottom: 1em; */
  text-align: center;
}

.content-section {
  margin-bottom: 6em;
}

#section-title > h1 {
  text-align: center;
}

/* select only p elements in content sections */
.content-section > p {
  font-size: 1em;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  text-align: center;
}

#section-title > span {
  font-size: 2em;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  display: block;
}

h2 {
  font-size: 1.5em;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* #navigation {
  width: 100%;

  align-self: center;
  margin: 0 1em 0 0;
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
  background-color: #A9C5EE;
  border: .5em solid #A9C5EE;
} */
.navbar{
  height: 100px;
  width: 100%;
  /* background-color: green; */
  position: fixed;
  
  transition: opacity 4s;
  opacity: 1;
}

.navbar.hide {
  opacity: 0;
}

/* #nav-container {
  width: 100%;

  flex-direction: row;
  justify-content: space-between;
  justify-content: flex-end;
} */

ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  margin-right: 1.5em;
 }


.tab {
  padding-right: .5em;
  line-height: 2;
  text-align: right;
  list-style: none;
  font-size: 1em;
  color: black;
}

#ship {
  width: 100%;
}
.tab > a {
  text-decoration: none;
  color: black;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

li a:hover {
  /* background-color: rgba(31, 53, 108, 0.906); */
  text-decoration: underline;
}

#main-content {
  margin-top: 5em;
  margin-right: 7em;
  margin-left: 7em;
}

#people {
  margin-top: 5em;
  margin-right: 7em;
  margin-left: 7em;
}

#photos-box {
  display: flex;
  flex-direction: row;
}

.photo-container {
  max-width: 100%;
  margin: 3em;
}

.headshots {
  display: flex;
  max-width: 100%;  
  
}

/* FORM */

#form-container {
  display: block;
  text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#contact-form {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

label {
  display: block;
  margin-bottom: 1em;
  font-size: .9em;
  font-weight: 600;
}

input {
  text-align: left;
  font-size: 1rem;
  display: block;
  margin: 0em 0em 1.5em 0em ;
  /* margin-top: .5rem; */
  width: 100%;
  /* border-radius: .4rem; */
  padding: .4rem;
}

textarea {
  text-align: left;
  font-size: 1rem;
  display: block;
  margin: 0em 0em 1.5em 0em ;
  /* margin-top: .5rem; */
  width: 100%;
  /* border-radius: .4rem; */
  padding: .4rem;
}

button {
  font-weight: 600;
  background-color: rgb(30, 30, 123);
  color: white;
  width: 50%;
  align-self: center;
  padding: .4rem;
  font-size: 1.1rem;

  /* &:hover {
    cursor: pointer;
  } */
}
