
/* NAVIGATION */
.navbar {
  width: 100%;
  position: fixed;
  z-index: 1;
}

#nav-logo > img {
  height: 3.5em;
  /* transition: height .2s; */
}



.navbar.hide {
  opacity: 0;
}

li {
  padding-right: .5em;
  line-height: 2;
  text-align: right;
  list-style: none;
  font-size: 1em;
}

li a:hover {
  text-decoration: underline;
}

.menu {
  display: -webkit-flex;
  display: flex;
}
.menu li:first-child {
  margin-right: auto;
}
.menu a {
  margin: .1em;
  display: block;
  color: white;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  letter-spacing: .5px;
}

/* SPLASH IMAGE */

#splash-image {
  width: 100%;
}

#splash-img-cont > div > img {
  width: auto;
}



/* SECTIONS */

#section-title {
  font-size: 2.6em;
  font-family: 'Lora', serif;
  text-align: center;
  color: rgb(69, 21, 42)
}

.content-section {
  margin-bottom: 6em;
}

.content-section > p {
  font-size: 1em;
  font-family: 'Lora', serif;
  line-height: 1.5;
  text-align: center;
}

#section-title > span {
  font-size: 1.3em;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-align: center;
  display: block;
}


#main-content {
  margin-top: 5em;
  margin-right: 7em;
  margin-left: 7em;
}

#people {
  margin-top: 0em;
  margin-right: 0em;
  margin-left: 0em;
}

#photos-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* z-index: -1; */
}

.photo-container {
  max-width: 100%;
  margin: 3em;
  position: relative;
  /* z-index: -1; */
}

.headshots {
  max-width: 100%; 
  display: block;
  opacity: 1;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  /* z-index: -1; */
}
.middle {
  transition: .5s ease;
  width: 90%;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  /* z-index: 2; */
}

.photo-container:hover .image {
  opacity: 0.9;
}

.photo-container:hover .middle {
  opacity: 0.9;
}

.text {
  background-color: rgb(48, 49, 50);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/* FORM */

#form-container {
  display: block;
  text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#contact-form {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

label {
  display: block;
  margin-bottom: 1em;
  font-size: .9em;
  font-weight: 600;
}

input {
  text-align: left;
  font-size: 1rem;
  display: block;
  margin: 0em 0em 1.5em 0em ;
  /* margin-top: .5rem; */
  width: 100%;
  /* border-radius: .4rem; */
  padding: .4rem;
}

textarea {
  text-align: left;
  font-size: 1rem;
  display: block;
  margin: 0em 0em 1.5em 0em ;
  /* margin-top: .5rem; */
  width: 100%;
  /* border-radius: .4rem; */
  padding: .4rem;
}

.subbutton {
  font-weight: 600;
  background-color: rgb(30, 30, 123);
  color: white;
  width: 50%;
  align-self: center;
  padding: .4rem;
  font-size: 1.1rem;
  text-align: center;
}

.subbutton:hover {
  cursor: pointer;
}

.principles-container {
  display: flex;
  direction: row;
  align-items: center;
  justify-content: center;
}

.principles-image {
  align-self: center;

}


@media only screen and (max-width: 900px) {
  .photo-container {
    margin: 0em;
    padding: 0.2em;
  }
}

@media only screen and (max-width: 750px) {
  .photo-container {
    margin: 0em;
    padding: 0.2em;
  }

  #main-content {
    margin: 5em 0em 0em 0em;
  }

  #form-container {
    width: 60%;
  }

  .principles-image {
    width: 50%;
  }

  #navigation ul {
    display: none;
  }

  #navigation:hover ul {
    display: block;
    margin-top: 2.5em;
    /* background-color: rgba(255,255,255, 0.7); */
  }

  .menu li:first-child {
    display: none;
  }

  .menu a {
    line-height: 1.5em;
    color: black
  }
  
  #navigation:hover ul li {
    color: blue;
  }

  #navigation:hover {
    background-color: rgba(255,255,255, 0.7);
  }
}


/* iphone 5s */

/* TODO: stack photos */
@media only screen and (max-width: 400px) {

  #form-container {
    width: 80%;
  }

}

