/* .navbar {
  display: flex;
} */

/* .menu {
  display: -webkit-flex;
  display: flex;
}
.menu li:first-child {
  margin-right: auto;
  not 0, this is what makes the difference
}
.menu a {
  color: rgb(0, 0, 0);
	display: block;
} */

